body{
    background-color: rgb(255, 255, 255);
}


div.top{
    display: flex;
    justify-content: center;
}



div.main, div.searchbox {
    flex-direction: column;
    align-items:center;

    flex-basis: 600px;
    min-width: 200px;
    
    display: inline-flex;
    
    flex-direction: column;
    justify-content: space-between;
    gap: 10px 0px;
}


@media only screen and (min-width: 768px) {
    div.top{
        padding: 10px 40px;
    }

    div.main {
        padding: 10px 10px;
        box-shadow: 0px 0px 20px rgb(170, 170, 170);

        min-width: 300px;
    }
}

div.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    --grid-template-columns: repeat(auto-fill, 100px);
    grid-auto-columns: max-content;

    min-height: 30px;
    background-color: #dff3f2;

    --box-shadow: 0px 0px 4px rgb(102, 102, 102);
}

div#selected{
    background-color: antiquewhite;
}

div.item {
    background-color: white;
    box-shadow: 0px 0px 2px rgb(131, 131, 131);
    margin: 5px 5px; 
    padding: 5px;
    --max-width: 100px;
    text-align: center;
    cursor: pointer;

    transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;
}

div.item p {
    margin: 0;
    max-width: 100%;
    
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;

}

div.item p.details{
    color: rgb(80, 80, 80);
    font-size: 0.8em;
}

div.item img{
    width:40px;
    height:40px;
}

@media (hover: hover) {
    div.item:hover{
        box-shadow: 0px 0px 5px rgb(141, 141, 141);
        transform: scale(1.05);
    }

    div.item:hover p {
        --animation: panning 5s infinite  linear alternate;
        -webkit-marquee: auto medium infinite alternate normal;
    }
}

@keyframes panning {
    0% {
        transform: translate3d(0%, 0, 0);
    }
    
    100%{
        transform:translate3d(-50%, 0, 0);
    }
}

div.container#trash{
    opacity: 40%;
    display: none;
}

div.add {
    justify-content: center;
}

/*
    Settings menu
*/

div#settings {
    position: absolute;
}

div#settings img{
    width: 20px;
    outline: solid;
}

div#settings ul li{
    display: none;
}

div#settings:focus ul li{
    display: block;
}


/*
    Navigation
*/

div.nav {
    position: sticky;
    top: 0;
    background-color: aqua;
}

div.stickybottom {
    position: sticky;
    bottom: 0;
}

div.searchbox {
    background-color: white;
    padding: 5px 0px;
    box-shadow: 0px 0px 5px rgb(141, 141, 141);
}