body{
    background-color: rgb(255, 255, 255);
}

div.top{
    padding: 10px 40px;
    display: flex;
    justify-content: center;
}

div.main {
    padding: 10px 10px;
    box-shadow: 0px 0px 20px rgb(170, 170, 170);

    flex-basis: 600px;
    min-width: 300px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px 10px;
}

div.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 100px);
    grid-auto-rows: max-content;
    
    min-height: 30px;
    background-color: #dff3f2;
}

div#selected{
    background-color: antiquewhite;
}

div.item {
    background-color: white;
    box-shadow: 0px 0px 5px rgb(177, 177, 177);
    margin: 5px 5px; 
    padding: 5px;
    --max-width: 100px;
    text-align: center;
}

div.item p {
    margin: 0;
}

div.item img{
    --background-color: lightblue;
    width:40px;
    height:40px;
}

div.item:hover {
    background-color: #e0c8b200;

    outline: solid;
    outline-width: 2px;
    outline-color: rgb(233, 141, 29);
    
    cursor: pointer;
}

div.container#trash{
    opacity: 40%;
}

div.add {
    justify-content: center;
}